@font-face {
  font-family: Gallows;
  src: url("fonts/GallowTree-Regular.ttf");
}
.container{
  border: 1px white solid;
  display: flex;
}

.navbar{
    height:5em;
    background-color: black;
    width: 100%;
    padding:1px;
    margin:1px;
}
  h1{
   font-family: Gallows;
   color:white
 }
 .gpelements{
   display:flex;
   /*flex-direction: column;*/
   justify-content: flex-start;
   flex:1;
   border: 1px white solid;
 }
 div{
   font-family: Gallows;
   color:white;
 }
 #alphabet{
   font-family: Gallows;
   color:red;
 }
 body {
   padding:0;
   margin:0;
   background-color: black;
   background:url(1.jpg) no-repeat center center fixed;
   background-size: cover;
 }
 .finalimage{
   display:flex;
   align-items: center;
 }
.main{
  border: 1px solid white;
}
.gameElements{
  border: 1px white solid;
  flex: 1;
}
