@font-face {
  font-family: Gallows;
  src: url("fonts/GallowTree-Regular.ttf");
}
.container{
  display: flex;
}


.navbar{
    height:5em;
    background-color: black;
    width: 100%;
    padding:1px;
    margin:1px;
}
  h1{
   font-family: Gallows;
   color:white
 }
 .gpelements{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex:1;
 }
 div{
   font-family: Gallows;
   color:white;
 }
 #alphabet{
   font-family: Gallows;
   color:red;
 }
 body {
   background-color: black;
   background:url(1.jpg) no-repeat center center fixed;
   background-size: cover;
 }
 .gpelements
