@font-face {
  font-family: Gallows;
  src: url("fonts/GallowTree-Regular.ttf");
}
h1 {
   font-family: Gallows;
   color:white
 }
 div{
   font-family: Gallows;
   color:white;
 }
 #alphabet{
   font-family: Gallows;
   color:red;
 }
 body {
   background-color: black;
   background:url(1.jpg) no-repeat center center fixed;
   background-size: cover;
 }
